<p style="color: green"><%= notice %></p>

<%= render @friend %>

<div>
  <%= link_to "", friends_path, class:"btn btn-primary bi bi-arrow-left" %> |
  <%= link_to "", edit_friend_path(@friend), class:"btn btn-success bi bi-pencil" %> |
  <%= button_to "", @friend, method: :delete, class:"btn btn-danger bi bi-trash"%>
</div>
