<div class="jumbotron">
  <h1 class="display-4"><%= @friend.firstName %> <%= @friend.lastName %></h1>

  <p class="lead">
    <%= @friend.email %> | <%= @friend.phone %> | @<%= @friend.twitter %>
  </p>

  <hr class="my-4">


  <% if current_user.present? && @friend.user_id == current_user.id %>
    <div class="btn-toolbar text-center well">
      <%= link_to " Back to Friends", friends_path, class:"btn btn-primary bi bi-arrow-left mr-1 mb-1" %>
      <%= link_to "", edit_friend_path(@friend), class:"btn btn-success bi bi-pencil mr-1 mb-1" %> 
      <%= button_to "", @friend, method: :delete, class:"btn btn-outline-danger bi bi-trash"%>
    </div>

<% else %>
  
  <div class="btn-toolbar text-center well">
    <%= link_to " Back to Friends", friends_path, class:"btn btn-primary bi bi-arrow-left mr-1 mb-1" %>
  </div>
<% end%>
</div>